
.center{
  margin: 0 auto;
}

.red{
  background: #f00;
}

.blue{
  background: #0008ff;
}

.green{
  background: #22ff00;
}

.q1{
  width: 400px;
  height: 400px;
}

.box{
  width: 300px;
  height: 300px;
}

.flex{
  display: flex;
  justify-content: center;
}

.q3{
  margin-right: 150px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.container{
  position: relative;
}

.fcenter{
  position: relative;
  left: 50%;
  float: left;
}


.q4{
  position: relative;
  left: -50%;
  float: left;
}

.q5{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.q5red{
  background: #f00;
  width: 300px;
  height: 300px;
  position:relative;
}

.q5blue{
  background: #0008ff;
  width: 300px;
  height: 300px;
  position:relative;
}

.q5orange{
  background: #ff8400;
  width: 300px;
  height: 300px;
  position:relative;
}

.q6green{
  background: #00ff51;
  width: 300px;
  height: 300px;
  position:relative;
  order: 0;
}

.q6yellow{
  background: #d4ff00;
  width: 300px;
  height: 300px;
  position:relative;
  order: 1;
}

.q6pink{
  background: #ff00e1;
  width: 300px;
  height: 300px;
  position:relative;
  order: 2;
}

p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.q7red{
  display: block;
  background: #f00;
  width: 300px;
  height: 300px;
}

.q7blue{
  display: none;
}

@media screen and (max-width: 959px){
  .q1{
    width: 200px;
    height: 200px;
  }

  .q2{
    background: #007bff;
  }

  .q3{
    margin-right: 50px;
  }

  .q4{
    float: none;
    left: 0%;
  }

  .fcenter{
    left: 0%;
  }

  .conteiner{
    overflow:visible
  }

  .q5{
    flex-direction: row-reverse;
  }

  .q6pink{
    order: 0;
  }

  .q6green{
    order: 1;
  }

  .q6yellow{
    order: 2;
  }

  .q7red{
    display: none;
  }

  .q7blue{
    display: block;
    background: #0008ff;
    width: 300px;
    height: 300px;
  }
}